{% extends 'base.html' %}

{% block content %}
<div class="right greybox">
    <h3>New Projects</h3>
    {% for project in created %}
    <a href="{{project.get_absolute_url}}">{{project.name}}</a><br />
    {% endfor %}
    <h3>Recently Completed</h3>
    {% for project in completed %}
    <a href="{{project.get_absolute_url}}">{{project.name}}</a><br />
    {% endfor %}
    <h3>Recent Donations</h3>
    {% for donation in donations %}
    ${{donation.amount|floatformat:2}} to <a href="{{donation.project.get_absolute_url}}">{{donation.project}}</a>
    {% endfor %}
    <h3>Recent Contributions</h3>
    {% for contribution in contributions %}
    {{contribution.user}} to <a href="{{contribution.project.get_absolute_url}}">{{contribution.project}}</a>
    {% endfor %}
</div>
<div id="about" class="left box">
    <h2>Introduction</h2>
    <p>
    Welcome to Arch Bounty. The simple goal of this site is to allow <a
        href="http://www.archlinux.org/">Arch Linux</a> users to pay other users to
    complete Arch related tasks. Arch Bounty is comprised of <em>Projects</em>, <em>Donations</em>, <em>Contributions</em>, and <em>Discussion</em>.
    </p>
    <p>
    <strong>This is not an official Arch Linux Project.</strong> I am a member of
    the Arch Linux development team, and I hope developers will use the project
    both to earn money for themselves on specific bounties and to solicit community
    participation on other tasks by offering donation funds. However, this is an
    unofficial side project I am contributing to the community.
    </p>
</div>
<h2>Description</h2>
<p>
Projects are concrete Arch-related tasks that someone wishes to be completed.
Anyone can create a project. You may create a project and donate to it if you
want that task completed. You can also create a project and complete it in
hopes that someone will donate to your work. Projects <strong>must</strong> be
clearly described and well-defined so that it is easy for the community to tell
when they have been completed, and who has done the work.
<strong>Please</strong>, for my sake, keep projects small and managable, at
least at first. Projects must be completable by anyone, and must not require
specific permissions. For example, you can not create a project to have a
developer update a package more quickly. You can, however, create a project to
request a new PKGBUILD, as anyone can create and post a PKGBUILD. It will not
be possible to donate to a project until a moderator has approved that it is
well-defined and acceptable.
</p>
<p>
Donations are specific monetary values assigned to a project from a single
user. Anyone can make a donation. Donations are processed through <a
    href="https://www.alertpay.com/?pnskcbatY7p0TYom3tIjPw%3d%3d">AlertPay</a>. One project can have multiple
donations from multiple users. 
</p>
<p>
Donations can have an expiry date. This is useful if you want a project to be
completed before a specific date. When a donation expires, funds are
transferred <strong>to the Arch Linux Project</strong>. You will not get your
money back if a project you donated to is not completed on time. Think of Arch
Bounty as a way to <em>influence</em> what your donation contributes to, not as
a command or demand. If the donation does not have an expiry, it will remain
attached to the project until it is completed or cancelled.
</p>
<p>
Contributions are pieces of work to help complete a project. Anyone can make a
contribution. When a project is deemed complete, all non-expired donations to
that project will be distributed to contributors through <a
    href="https://www.alertpay.com/?pnskcbatY7p0TYom3tIjPw%3d%3d">AlertPay</a>.
</p>
<p>
When you make a contribution, you must describe <strong>in detail</strong> how
you have contributed to that project. Links to closed bug reports, git or
subversion patches, forum or mailing list discussions, or external project
pages demonstrating exactly what you have done will help.
</p>
<p>
When you make a contribution you make an estimate as to what percentage of the
project your contribution has completed. I would appreciate it if at first you
complete entire projects in one contribution to keep things simple. Longer
term, multiple contributors will need to be able to cooperate on larger
projects. Donations will be split between the contributions weighted by this
percentage.
</p>
<p>
Discussions are attached to all projects and all contributions. Discussions can
be used when projects are first posted to request clarification or modification
of the requirements. They can be used to report progress while completing the
project. On contributions, discussions can discuss whether a person has over-
or under-valued their contribution to the whole.
</p>
<h2>Moderation</h2>
<p>
I am hoping that the community will be largely self-moderating and will
cooperatively decide when and where funds should be distributed. In the
beginning, I will personally oversee the process and try to settle disputes. I
will release funds to contributors only after I have decided the project is
truly completed and have determined who has made contributions.
</p>
<p>
I anticipate two possible kinds of disputes. The first kind is people claiming
to have completed the project while donors believe there are still issues outstanding. The second kind is people claiming they have contributed more than their fair share to a project when other contributors want their percentage.
</p>
<p>
The first dispute can be avoided by being very particular about the
requirements when creating a project. Projects will be reviewed and donations
will not be accepted until the requirements are fully specified.
</p>
<p>
The second dispute cannot be mitigated by <em>active discussion</em> of who is
doing what and ensuring that people are working together, cooperatively,
instead of competing.
</p>
<p>
If the process seems to be working, I will invite trusted community members to
join the moderation team and help me decide when project requirements are
specific enough, when they have been completed, and how to distribute donations
among contributors.
</p>
<p>
If the process results in arguments, flamewars, and less productivity rather
than more, I will simply cancel the service and deem it a failure.
<h2>Disclaimer</h2>
<p>
This is a highly experimental endeavour. The Arch Linux community is known for
behaving sensibly and cooperatively. Introducing money into the mix could
destroy that, as greed tends to do. If that happens, the project will be
cancelled.
</p>
<p>
This project is meant to help <strong>encourage</strong> timely completion
of jobs through the use of funding. It does <strong>not</strong> guarantee that
a project will be completed before a specific date or at all. It does
<strong>not</strong> promise that contributors will receive any or fair
remuneration for their efforts.</p>
<p>
All donations to a project are donations only. You are not making a purchase
and do not have the right to demand, command, or control the development
process or completion. Assume your donations are donations to the Arch Linux
project, but you can suggest where they be directed by applying to a specific
project.
</p>
<p>
All contributions to a project are contributions only. You are not making a
contract and do not have the right to demand payment in part or in full. Assume
your contributions are unpaid open source contributions to the Arch Linux
community, but you may receive some monetary compensation.
</p>
<p>
I control all funds and could, in theory, run off with them at any time. If you
do not trust me, please don't use the service. As many users have entrusted me
with Arch Schwag and I have been contributing to this community for many years,
I do not anticipate this being a problem.
</p>
{% endblock %}
