{% extends 'base.html' %}
{% load comments %}

{% block content %}
<div class="box">
<h2>
Contribution to '<a href="{{project.get_absolute_url}}">{{project.name}}</a>'
</h2>
<strong>User</strong>: {{contribution.user}}<br />
<strong>Estimated percentage</strong>: {{contribution.percentage}}%
<p>{{contribution.description}}</p>
</div>
<br />
{% if can_edit %}
<a href="{{contribution.get_absolute_url}}edit/">Edit Contribution</a>
{% endif %}
<div class="greybox">
<h3>Discussion</h3>
{% get_comment_list for contribution as comments %}
{% for comment in comments %}
{% include 'comment.html' %}
{% endfor %}
{% if user.is_authenticated %}
    <h4>Submit New Comment:</h4>
    {% get_comment_form for contribution as comment_form %}
    {% include 'comment_form.html' %}

{% endif %}
</div>
{% endblock %}


