{% extends 'base.html' %}
{% load comments %}
{% load markup %}

{% block content %}
<div class="box">
<h2>{{project.name}}</h2>
{% if can_change_project %}
<a href="/projects/{{project.id}}/edit/">Edit Project</a><br />
{% endif %}
Created by {{project.creator}}<br />
{{project.description|markdown:"safe"}}
<br>
{% if perms.project.can_change_status %}
<form id="status_form" method='POST' action="/projects/{{project.id}}/change_status/">
{% endif %}
<strong>Status:</strong><span id="project_status">{{project.status}}</span>
{% if perms.project.can_change_status %}
    {{status_form.status}} <input type="submit" value="Change" />
</form>
<script type="text/javascript">
    $('#status_form').ajaxForm({
        success: function(data) {
            $('#project_status').html(data);
        }
    });
</script>
{% endif%}
Project Value: ${{project.current_value|floatformat:2}}
{% if project.expired_value %}
Expired Value: ${{project.expired_value|floatformat:2}}
{% endif %}
{% if donation_form %}
<form id="donation_form" method='POST' action="/projects/{{project.id}}/donate/">
    {{donation_form}}
    <input type="submit" value="Donate" />
</form>
{% endif %}
<script type="text/javascript">
    $(document).ready(function() {
            $('#id_deadline').datepicker({showOn: "button"});
    });
</script>
</div>
<br /><br />
<h3>Contributions</h3>
{% if project.contributions %}
    <table>
        <tr><th>User</th><th>Percentage</th><th>Description</th></tr>
    {% for contribution in project.contributions.all %}
    <tr><th>{{contribution.user}}</th><th>{{contribution.percentage}}%</th><td><a href="{{contribution.get_absolute_url}}">{{contribution.description|slice:":60"}}</a></td></tr>
    {% endfor %}
    <tr><th>Estimated Complete:</th>
        <th class="project_{{project.contribution_status}}">{{project.contribution_percentage}}%</th></tr>
    </table>
    <a href="/projects/{{project.id}}/contribute/">New Contribution</a>
{% endif %}

<br /><br />
<div class='greybox'>
<h3>Discussion</h3>
<p>
Use this discussion area to discuss the viability of the project and discussion of contribution. Please take coordination of efforts and sharing of code to a better medium.
</p>
{% get_comment_list for project as comments %}
{% for comment in comments %}
{% include 'comment.html' %}
{% endfor %}
{% if user.is_authenticated %}
    <br />
    <h4>Submit New Comment:</h4>
    {% get_comment_form for project as comment_form %}
    {% include 'comment_form.html' %}

{% endif %}
</div>
{% endblock %}
